# This workflow will publish a package to NPM when a release is created

name: Publish to NPM

on:
  release:
    types: [created]

jobs:

  publish:
    runs-on: ubuntu-latest
    environment: production
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: 14
      - run: npm publish --access public
        env:
          NPM_TOKEN: ${{secrets.NPM_TOKEN}}
